@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/* Add flip effect animation class */
.flip-animation {
  animation: flip 0.9s ease-in-out;
}